.header-container{
    background-color:#011453;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

.logo-image{
    width: 120px;
    height: 100px;
    padding: 2px;
    margin: 5px;
}

.Title{
    color: white;
    align-self: center;
}